.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs

workflow.R
*.Rproj
analysis/data/
data/
plots/
raw/
Docs/0_archive_files
Docs/0_bugs_files
todo.R
ignore/
Functions/
Analysis/archives
code